/* #ced4da; */
body {
    background-color: white;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgb(255, 251, 253) 100%
    );
}

.btn-danger-loud {
    border-color: #d9534f;
}

.bg-grey {
    background-color: #f5f4f4 !important;
}

.bg-primary {
    background-color: rgba(238, 174, 202, 1) !important;
}
.bg-secondary {
    background-color: rgba(148, 187, 233, 1) !important;
}

.i-like:hover {
    color: rgba(148, 187, 233, 1) !important;
}

.i-love:hover {
    color: rgba(238, 174, 202, 1) !important;
}

.i-comment:hover {
    color: #333333 !important;
}

.primary,
a.link,
.i-send :hover {
    color: rgba(238, 174, 202, 1) !important;
}

.secondary,
a.link :hover {
    color: rgba(148, 187, 233, 1) !important;
}

.navbar {
    background: rgb(238, 174, 202);
    background: radial-gradient(
        circle,
        rgba(238, 174, 202, 1) 0%,
        rgba(148, 187, 233, 1) 100%
    );
}
